body {
    font-family: sans-serif;
    text-align: center;
    background: #b81d18;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 24px;
}

img#picofme {
    width: 200px;
    height: 200px;
}

img.project-img {
    width: auto;
    height: 200px;
    padding: 10px;
}

.main {
    color: #f0f0f0;
    margin: auto;
    padding: 20px;
    max-width: 600px;
}

.section {
    background: #f0f0f0;
    color: #202020;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.section p {
    text-align: justify;
}

a {
    color: #f0f0f0;
}

p a {
    color: #004687;
    text-decoration: none;
}