#header {
    border: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    color: #f0f0f0;
    background: #202020;
    font-size: 20pt;
    vertical-align: middle;
}

#header-social-links {
    position: fixed;
    right: 0px;
    padding: 5px;
}

#header-nav a {
    /* Would be nice o have words a little lower (by like 3px max) */
}

#header a {
    vertical-align: middle;
    color: #f0f0f0;
    text-decoration: none;
}

#header img {
    width: 30px;
    height: 30px;
}

#footer p {
    border: 0px;
    margin: 0px;
    vertical-align: middle;
    padding-top: 3px;
    position: fixed;
    height: 20px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: #a71c17;
    color: #f0f0f0;
}