#header {
    border: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    color: #f0f0f0;
    background: #202020;
    font-size: 22pt;
    vertical-align: middle;
}

#header-social-links {
    position: fixed;
    right: 0px;
    padding: 5px;
}

#header-nav a {
    /* Would be nice o have words a little lower (by like 3px max) */
}

#header a {
    vertical-align: middle;
    color: #f0f0f0;
    text-decoration: none;
}

#header img {
    width: 30px;
    height: 30px;
}

#footer p {
    z-index: 9999;
    border: 0px;
    margin: 0px;
    vertical-align: middle;
    padding-top: 4px;
    position: fixed;
    height: 20px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: #a71c17;
    color: #f0f0f0;
}

#mobile-nav {
    font-size: 60pt;
    margin-top: 60px;
}

.nav-list {
    margin-top: 0px;
    text-align: center;
    list-style-type: none;
}

.nav-list li {
    border-bottom: 5px;
    width: auto;
    margin-right: 40px;
    border-bottom-style: solid;
    border-bottom-color: #a71c17;
    background: #b81d18;
}

.nav-list li:hover {
    background: #c82d28;
}

.desktop {
    display: inline;
}

.main {
    display: block;
}

.mobile {
    display: none;
}

@media (max-width: 1000px) {
    #header {
        height: 50px;
        font-size: 22pt;
        text-align: left;
        padding-left: 5px;
    }
    
    #header img {
        padding-top: 5px;
        width: 30px;
        height: 30px;
    }
    
    #mobile-header-text {
        margin: 0px;
        display: inline;
        font-size: 1.2em;
    }
    
    #footer p {
        height: 25px;
        padding-top: 10px;
    }
    
    .nav-list li {
        font-size: 0.6em;
    }
    
    .desktop {
        display: none;
    }

    .mobile {
        display: inline;
    }
}
