body {
    font-family: sans-serif;
    text-align: center;
    background: #b81d18;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 24px;
}

.main {
    color: #f0f0f0;
    margin: auto;
    padding: 20px;
    max-width: 600px;
}

img#picofme {
    width: 350px;
    height: 350px;
}

img.project-img {
    width: auto;
    max-width: 530px;
    max-height: 300px;
    padding: 10px;
}

.section {
    background: #f0f0f0;
    color: #202020;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.section p {
    text-align: justify;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

.section h3 a {
    color: #202020;
}

.section a {
    color: #004687;
}

p {
    font-size: 1em;
}

h2 {
    margin-bottom: 0px;
}

h3 {
    font-size: 1.5em;
}

h4 {
    margin-top: 0px;
    font-size: 1em;
}

table {
    font-size: 1em;
}

#table-skills {
    border-spacing: 0.5rem;
}

#table-skills td {
    border-bottom: 1px solid #202020;
    padding: 2px;
}

.table-skill-header {
    font-weight: 100;
}

.td-skill {
    text-align: center;
}

.td-exp {
    text-align: justify;
}

.td-ed-name {
    font-weight: bold;
    padding: 4px;
}

.td-ed-time {
    font-weight: 100;
}

.td-ed-acc {
    padding-bottom: 20px;
    font-weight: 100;
}

.td-ed-pic {
    vertical-align: middle;
}

.td-ed-pic img {
    height: 100px;
}

.work-logo {
    padding-top: 20px;
    max-width: 200px;
}

#exp-nav span {
    cursor: pointer;
    cursor: hand;
}

.td-ed-acc p {
    text-align: center;
}

.expandcontrol {
    cursor: pointer;
    cursor: hand;
}

video {
    height: auto;
    width: 500px;
    padding: 10px;
}

.travel-cover {
    width: 80%;
    height: 20%;
    padding-top: 50px;
}

@media (max-width: 1000px) {
    body {
        margin-top: 40px;
        margin-bottom: 48px;
    }
    
    .main {
        padding: 20px;
        max-width: 800px;
    }
    
    img.project-img {
        width: auto;
        max-height: 300px;
        max-width: 200px;
        padding: 10px;
    }
    
    .td-ed-pic img {
        height: 150px;
    }
    
    img#picofme {
        width: 200px;
        height: 200px;
    }
    
    #table-education td {
        display: block;
    }
    
    video {
        height: auto;
        width: 90%;
        padding: 10px;
    }
}