body {
    padding: 0;
    margin: 0;
    border: 0;
}

.main {
    margin: auto;
    margin-top: 5%;
    font-family: sans-serif;
}

select {
    font-family: sans-serif;
    font-size: 1em;
}

table {
    margin: auto;
    margin-top: 5%;
}

td {
    padding: 10px;
    font-size: 2em;
}

p {
    margin: 0px;
}

#title {
    text-align: center;
    font-size: 3em;
}

.filler {
    font-size: 0.8em;
}

.greenbox {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: forestgreen;
    color: white;
    display: none;
    text-align: center;
    padding: 10px;
    font-size: 2em;
    font-family: sans-serif;
}

#updateinfo {
    font-size: 2em;
    text-align: center;
}

#updateinfo button {
    font-size: 1em;
    margin: 10px;
}

#errorinfo {
    background-color: red;
}

@media (max-width: 1000px) {
/*
    td {
        display: inline;
    }
    
    td {
        font-size: 3em;
    }
    
    .greenbox {
        font-size: 3em;
    }
    
    #uploadInfo {
        font-size: 3em;
    }
    
    #updateinfo {
        font-size: 3em;
    }
    
    #updateinfo button {
        font-size: 1.5em;
    }
    
    select {
        font-size: 1.5em;
    }
    
    #title {
        font-size: 4em;
    }
    
    .filler {
        font-size: 1.6em;
    }
*/
}
